h1 {
	font-family: Helvetica;
	font-size: 20px;
}

h2 {
	font-size: 16px;
}


body, html {
	height: 100%;
}

.bg {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}